/*ASISTENCIA*/

/*"""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""*/
/*ELEMENTOS DE ASISTENCIA*/
.conteinerasis {
    padding: 2%;
    border-radius: 5px;
    background-color: #19222ff5;
    box-shadow: 0 2px 8px #00000080;
    height: min-content;
    color: #f9f9f9;
    margin-top: 15px;
}

/*MARCO DE LOS ELEMENTOS DE ASISTENCIA*/
.options-asistencia {
    padding: 2%;
    border-radius: 7px;
    border: 1px solid #00c7ff;
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    gap: 20px;
}

/*CUADRO PARA SELECCIONAR BLOQUE Y DIA DE LA ASISTENCIA*/
#asistencia-controls {
    display: flex;
    background-color: #152e4ffa;
    border-radius: 5px;
    width: 100%;
    box-sizing: border-box;
    padding: 1%;
    border: none;
    gap: 25px;
    flex-wrap: wrap;
    justify-content: center;
}

/*"""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""*/
.S-bloque, .fecha-Bloque, .botones{
    display: flex;
    gap: 20px;
    box-sizing: border-box;
    flex-wrap: nowrap;
    align-items: center;
}
/*SELECCIONA BLOQUE*/
strong[id="bloque"] {
    font-size: 15px;
    font-family: 'calibri';
    color: #ffffff;
}

/*SELECCIONA BLOQUE*/
.conteinerasis select {
    border-radius: 5px;
    transition: background-color 0.3s ease;
    background: #ffffff00;
    box-shadow: 0 2px 8px #00000080;
    border: none;
    color: white;
    font-size: 13px;
    cursor: pointer;
    width: 220px;
    height: 40px;
    text-align: center;
}

/*SELECCIONA BLOQUE:HOVER*/
.conteinerasis select:hover {
    background-color: #24303cb3;
    color: rgb(255, 255, 255);
    cursor: pointer;
}

/*"""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""*/
/*SELECCIONA FECHA*/
label[for="fechaasistencia"] {
    font-size: 15px;
    font-family: 'calibri';
    color: #ffffff;
}

/*SELECCIONA CALENDARIO*/
.conteinerasis input {
    border-radius: 5px;
    transition: background-color 0.3s ease;
    background: #ffffff00;
    box-shadow: 0 2px 8px #00000080;
    border: none;
    color: white;
    font-size: 15px;
    cursor: pointer;
    height: 40px;
    width: 140px;
    padding: 1%;
    text-align: center;
}

/*SELECCIONA CALENDARIO:HOVER*/
.conteinerasis input:hover {
    background-color: #24303cb3;
    color: rgb(255, 255, 255);
    cursor: pointer;
}

/*"""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""*/
/*BOTON << MES ANTERIOR*/
button[id="prev-month"], button[id="next-month"] {
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    height: 40px;
    width: 130px;
}

/*BOTON << MES ANTERIOR:HOVER*/
button[id="prev-month"]:hover, button[id="next-month"]:hover {
    background-color: #ffffff;
    color: #007bff;
}

/*"""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""*/

#asistencia-lista {
    line-break: anywhere;
    width: 100%;
    max-height: 600px;
    overflow-y: auto;
    -webkit-overflow-scrolling: touch;
    /* Para dispositivos móviles */
    /*scrollbar-width: thin;*/
    font-family: "Calibri";
    font-size: 15px;
}
.alumnos-asistencia{
    text-align: left;
    padding: 1%;
}
.asistencias-tabla, .tardanzas-tabla, .faltas-tabla,.porcentaje-tabla{
    text-align: center;
}

#asistencia-lista::-webkit-scrollbar {
    display: none;
    /* Chrome, Safari y Edge */
}

#asistencia-lista table thead {
    background-color: #13304e;
    color: white;
}

#asistencia-lista table {
    width: 100%;
    border-collapse: separate;
    /* Esto asegura que el borde redondeado sea visible */
    border-spacing: 0;
    border-radius: 5px;
    /* Ajusta el valor según el nivel de redondeo que desees */
    overflow: hidden;
    /* Asegura que el contenido respete el borde */
    border: #2f323438;
}

#asistencia-lista table td {
    font-size: 15px;
    color: #fff;
    background-color: #24303c;
    border-color: #37434f;
    /*padding-block-end: 10px;
    padding-top: 10px;*/
}

#asistencia-lista table td.estado.resaltado {
    background-color: #152e4f;
    font-weight: bold;
}

#nombre-alumno{
    width: 280px;
    padding: 1%;
}
#asistencias-alumno, #faltas-alumno, #tardanza-alumno,#porcentaje-asistencias{
    width: 100px;
}

.estado-clickable {
    cursor: pointer;
    display: block;
    padding: 1%;
    text-align: center;
}

.estado-clickable:hover {
    background: #ffffff70;
    transition: background-color 0.3s ease;
}

/*"""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""*/
#estadsAsistencia {
    width: 100%;
    text-align: center;
    font-family: "Calibri";
}

#estadsAsistencia table thead {
    background-color: #0056b382;
    color: white;
}

#estadsAsistencia table {
    width: 100%;
    border-collapse: separate;
    border-radius: 15px;
    overflow: hidden;
}

#estadsAsistencia table td {
    font-size: 15px;
    color: #fff;
    background-color: #24303c;
    padding: 1%;
}

#estadsAsistencia table th {
    padding: 1%;
    font-size: 15px;
}

@media screen and (max-width: 768px) {
    #asistencia-controls {
        border-radius: 5px;
        padding: 2%;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        gap: 10px;
    }
    .S-bloque, .fecha-Bloque, .botones {
        display: flex;
        gap: 15px;
        flex-wrap: nowrap;
    }

    strong[id="bloque"] {
        font-size: 10px;
        font-family: 'calibri';
        color: #ffffff;
    }

    .conteinerasis select {
        border-radius: 2px;
        width: 150px;
        font-size: 10px;
        height: 20px;
    }

    label[for="fechaasistencia"] {
        font-size: 10px;
    }

    .conteinerasis input {
        border-radius: 2px;
        width: 100px;
        font-size: 10px;
        height: 20px;
    }
    button[id="prev-month"], button[id="next-month"] {
        border-radius: 2px;
        width: 80px;
        font-size: 9px;
        height: 20px;
    }
    
    #asistencia-lista table thead {
        font-size: 5px;
    }
    #asistencia-lista table td {
        font-size: 5px;
    }
    #asistencia-lista table {
        border-collapse: separate;
        border-spacing: 0;
        overflow: hidden;
        border: #0000001c;
        width: 100%;
        border-radius: 0px;

    }
    #asistencia-lista {
        width: 100%;
        max-height: 150px;
        overflow-y: auto;
        -webkit-overflow-scrolling: touch;
        font-family: "Calibri";
    }
    .alumnos-asistencia{
        text-align: left;
    }
    .asistencias-tabla, .tardanza-tabla, .faltas-tabla,.porcentaje-tabla{
        text-align: center;
    }
    #nombre-alumno{
        width: 280px;
    }
    #asistencias-alumno, #faltas-alumno, #tardanza-alumno,#porcentaje-asistencias{
        width: 100px;
    }
    #estadsAsistencia table {
        border-radius: 10px;
    }
    #estadsAsistencia table th, #estadsAsistencia table td {
        font-size: 7px;
    }
}