/*CUADRO DE INFORMACIÓN BASICA*/
.form-cuenta {
    padding: 2%;
    border-radius: 5px;
    background-color: #19222ff5;
    box-shadow: 0 2px 8px #00000080;
    height: min-content;
    color: #f9f9f9;
    margin-block: 20px;
    font-family: Calibri;
}

/*LINEA DEL CUADRO DE INFORMACIÓN BASICA*/
.seccion-perfil {
    padding: 2%;
    border-radius: 7px;
    border: 1px solid #00c7ff;
}

/*"""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""*/
/*NOMBRE DEL DOCENTE Y EMAIL:*/
strong[class="nombreC"],
[class="correoE"] {
    display: block;
    font-size: 15px;
    margin-block: 20px;
}

/*CONTENEDOR DE LOS INPUTS Y BUTTONS:*/
div [id="btn-nombreD"],
[id="btn-correo"] {
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

/*INPUT DE NOMBRE Y EMAIL*/
input[id="nombre"],
[id="correo"] {
    background: #6079994f;
    border: none;
    width: 100%;
    padding: 1%;
    border-radius: 5px;
    color: #ffff;
    font-family: Calibri;
    font-size: 15px;
    box-sizing: border-box;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

/*INPUT DE NOMBRE Y EMAIL: HOVER*/
input[id="nombre"]:hover,
[id="correo"]:hover {
    background-color: #24303cb3;
    color: #ffffff;
    cursor: pointer;
}
/*"""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""*/
/*BOTON EDITAR NOMBRE Y CORREO*/
.editar-nombre, .editar-correo {
    background: none;
    border: 2px solid;
    font-family: Calibri;
    line-height: 1;
    padding: 1%;
    width: 30%;
    cursor: pointer;
    font-size: 15px;
    border-radius: 5px;
    color: var(--color);
    transition: 0.25s;
    --color: #7278cb;
    --hover: #3c4ccb;
}
/*BOTON EDITAR NOMBRE Y CORREO:HOVER*/
.editar-nombre:hover,
.editar-nombre:focus,
.editar-correo:hover,
.editar-correo:focus {
    box-shadow: inset 0 0 0 2em var(--hover);
    border-color: var(--hover);
    color: #fff;
}
/*"""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""*/
/*GUARDAR CAMBIOS*/
.guardar-cambios {
    background: none;
    border: 2px solid;
    font: inherit;
    line-height: 1;
    padding: 1%;
    border-radius: 5px;
    width: 100%;
    margin-top: 20px;
    cursor: pointer;
    color: var(--color);
    -webkit-transition: 0.25s;
    transition: 0.25s;
    --color: #71e076;
    --hover: #2cbc32;
}
/*GUARDAR CAMBIOS:HOVER*/
.guardar-cambios:hover,
.guardar-cambios:focus {
    border-color: var(--hover);
    color: #fff;
    background: #2cbc32;
    -webkit-animation: guardar-cambios 1s;
    animation: guardar-cambios 1s;
    box-shadow: 0 0 0 2em rgba(255, 255, 255, 0);
}
@-webkit-keyframes guardar-cambios {
    0% {
        box-shadow: 0 0 0 0 var(--hover);
    }
}

@keyframes guardar-cambios {
    0% {
        box-shadow: 0 0 0 0 var(--hover);
    }
}